.header {
    text-align: center;
}

.linie{
    text-align:left;
}

.linie:nth-child(2n) {
    background-color: yellow;
}

.linie:nth-child(2n+1) {
    background-color: lightcyan;
}

.linie:hover{
    background-color:aqua;
}

h1 {
    border-style: dotted;
    border-color: darkslategray;
    padding: 20px 20px;
    margin-left: 650px;
    margin-right: 625px;
    color:red;
    font-size:36px;
    text-align:center;
}

body{
    background-color: beige;
}

p{
    font-size:17px;
    font-family:Cambria;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table {
    margin-left: auto;
    margin-right: auto;
    border:solid;
}

nav
{
    position:sticky;
    top:0px;
    display:flex;
    justify-content:space-evenly;
    background-color:darkred;
    align-items:center;
}

footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a{
    color:black;
    background-color:white;
    text-decoration:none;
}

