<!DOCTYPE html>
<html>
<head>
    <title>ceaw</title>
</head>
<body>
    <input type="text" name="nume" placeholder="Nume" autocomplete="off" /><br />
    <input type="text" pattern="[0-9]+" name="populatie" placeholder="Populatie" autocomplete="off" /><br />
    Capitala?<br />
    <input type="radio" name="capitala" id="true"/>Da
    <input type="radio" name="capitala" id="false" checked />Nu
    <br />
    <button onclick="adaugare()">Submit</button>
    <script src="static/script.js"></script>
</body>
</html>